body{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    background: #16A085;
}
.square{
    background: #fff;
    width: 700px;
    margin: 80px auto;
}
.pricing__item{
    display: flex;
}
.bike{
    width: 680px;
}