body{
    background: #73BAFF;
}
.frame{
    background: #fff;
    border-radius: 4px;
    margin: 50px;
    padding: 20px;
}
.sort__item{
    font-size: 16px;
    border-right: 2px solid #5796FF;
    padding: 15px;
    cursor: pointer;
}
.sort{
    border: 2px solid #5796FF;
    border-radius: 5px;
    display: flex;
}
select{
    margin-top: 20px;
    display: none;
}
.sort__item:last-child{
    border: none;
}
/* .selected{
    color: #fff;
    background: #5796FF;
} */
.sort__item--active {
    color: #fff;
    background: rgb(69, 126, 255);
}

@media (max-width: 640px) {
    .sort{
        display: none;
    }
    
    select {
        display: block;
    }
}