body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: #16A085;
    margin: 0;
    padding: 0;
}
.square{
    background-color: #fff;
    width: 620px;
    margin: 80px auto;
    border-radius: 4px;
    box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.4);
    background-image: url(img/bicycle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 183px;
}
.square__text{
    padding: 40px 73px 204px;
}
.name-and-account{
    display: flex;
}
h1{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-top: 8px;
}
.square-top__account{
    padding: 8px;
}
.round{
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    transition: all 0.35s ease-in-out;
}
.round:hover{
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.4);
}
.square-top__order{
    margin: 0;
    padding-top: 12px;
    font-size: 14px;
    color: #B8BBC0
}
.pricing{
    padding-top: 16px;
}
.pricing__name{
    color: #636668;
    font-weight: 500;
}
.pricing__item{
    display: flex;
    padding-top: 25px;
}
.pricing__item:last-child{
    text-transform: uppercase;
    font-size: 20px;
}
.pricing__price-tag{
    margin-left: auto;
    font-weight: 700;
    font-size: 20px;
}
.bike{
    width: 680px;
}
